/*页面部分css **********************************************************************************************************/
.BTN_Center{
    display:block;
    margin:0 auto;
}
.zc-form{
    width: 600px;
    margin-left: 35%;
}
.bt-text-color{
    text-align: center;
    color: #4e555b;

}


/*轮播部分CSS***********************************************************************************************************/
.banner{

    position: relative;/*相对定位 给绝对定位位置参考*/
    width: 100%;
    height: 400px;
    float: left;
}
.banner .item{
    display: none;/*隐藏元素*/
    position: absolute;/* 绝对定位*/
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
}
ul{
    list-style-type: none;/*清除默认列表样式 ....*/
    margin: 0;
    padding: 0;/*内外编剧清除*/
}
.lunbo{
    width: 100%;
    height: 408px;
}
/*左右按钮的属性设置*/
.lr-tab .btn{
    position: absolute;
    top: 120px;
    width: 41px;
    height: 69px;
    background: url("..");

}
.lr-tab .left{
    left: 0px;
    background-position-x: -83px;

}
.lr-tab .right{
    right: 0px;
    background-position-x: -125px;
}
/*左右按钮触碰事件*/
.lr-tab .left:hover{
    background-position-x: 0px;
}
.lr-tab .right:hover{
    background-position-x: -41px;
}
/*圆形按钮属性设定*/
.tab-btn{
    position: absolute;
    right: 40px;
    bottom: 20px;
    width: 120px;
    height: 30px;
    top: 270px;

}


/***搜索字体************************************************************************************************************/
.ss-text{
    font-size: small;
    margin-top: 10px;
    margin-bottom: -5px;
    margin-left: 40px;
}
.ss-text a{
    color: red;
}
.ss-wz{
    margin-left: 4px;
    margin-bottom: 2px;
}


/*左侧导航**************************************************************************************************************/
.cate_menu_lk{
    color: #4e555b;
}

.bbs ul li:hover{
    margin-left: 2px;
    background: #ffdf7e;
    border-radius: 8px;
}
.cate_menu_item{

}



/*****秒杀区域css********************************************************************************************************/
.msbg{

    width: 100%;
    height: 230px;
    border-radius: 15px;
}
.msbg-ts{

}
.ms-text-l{
    text-align: center;
    font-family: 小米兰亭;
}
.flashsale-countdown {
    height: 300px;
    width: 15%;
    padding-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
    background:
            #f1eded;
    text-align: center;
}
.rainbow-item-1 {
     border-top-color:
             #e53935;
 }
.rainbow-item-2 {
    border-top-color:
            #fd7e14;
}
.rainbow-item-3 {
    border-top-color:
            #1c7430;
}
.rainbow-item-4 {
    border-top-color:
            #007bff;
}
.rainbow-item-5 {
     border-top-color:
             #6f42c1;
 }
.rainbow-item-6 {
    border-top-color:
            #ffc107;
}
.span1 {
    width: 234px;
}
.round {
    font-size: 21px;
    color:
            #ef3a3b;
    padding-top: 15px;
}
.desc {
    color:
            rgba(0,0,0,.54);
    font-size: 15px;
}
.countdown {
    width: 168px;
    margin: 28px auto 0;
}
.spann {
    width: 46px;
    height: 46px;
    background:
            #605751;
    color:
            #fff;
    font-size: 24px;
    line-height: 46px;
    float: left;
}
.countdown i {
    width:15px;
    float:left;
    height:46px;
    line-height:46px;
    color:#605751;
    font-size:28px;
    font-style:normal
}



/*******************************************************价格文字显示边距*************************************************/
.bianju{
    margin-top: 15px;
    margin-bottom: -5px;
}



/****************购物车列表CSS********************************************************************************************/
.list-head {
    height: 70px;
    line-height: 70px;
    padding-right: 26px;
    color:
            #424242;
}
.coll {
    float: left;
}
.col-check {
    width: 110px;
}

.col-img {
    width: 120px;
}
.col-check {
    width: 110px;
}
.col-name {
    width: 380px;
}
.col-name-in {
    width: 380px;
}
.col-price {
    width: 140px;
    padding-right: 18px;
    text-align: center;
    color:
            #424242;
}
.col-num {
    width: 180px;
    text-align: center;
    color:
            #424242;
}
.col-total {
      width: 120px;
      padding-right: 60px;
      text-align: right;
  }
.col-action {
    width: 80px;
    text-align: center;
}
.cart-goods-list {
     background-color:
             #f7f7f7;
 }
.icon-checkbox-selected {
    color:
            #fff;
    border-color:
            #ff6700;
    background-color:
            #ff6700;
}
.icon-checkbox {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid
    #e0e0e0;
    border-top-color: rgb(224, 224, 224);
    border-right-color: rgb(224, 224, 224);
    border-bottom-color: rgb(224, 224, 224);
    border-left-color: rgb(224, 224, 224);
    margin-left: 24px;
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer;
}
.cinput {

    width: 72px;
    height: 30px;
    float: top;
    padding: 0;
    border-width: 0;
    color:
            #424242;
    font-size: 16px;
    text-align: center;
}
.change-goods-num {
    width: 148px;
    height: 38px;

   border: 1px solid
    #e0e0e0;
    text-align: center;

    position: relative;

}
/****************************商品详情点击CSS***************************************************************/
.chosepho{
    border: #6c757d  2px solid;

}
.myborder{
    margin-left: 4px;
    margin-right: 4px;
}
.mylist{
    margin-top: 40px;

}
.myicon{
    margin-top: 10px;
}
.myselsect-border{
    border:2px  #fd7e14 solid;
}